// First pass: raw colours
// TODO: refactor into meaningful variables
$color-000000: #000000 !default;
$color-2b2725: #2b2725 !default;
$color-298587: #298587 !default;
$color-35a0a8: #35a0a8 !default;
$color-3a4f51: #3a4f51 !default;
$color-3a4f51a: rgba(58,79,81, 0.25) !default;
$color-443e3b: #443e3b !default;
$color-595655: #595655 !default;
$color-565955a: rgba(86,89,85, 0.25) !default;
$color-666666: #666666 !default;
$color-666a: rgba(102, 102, 102, 0) !default;
$color-888888: #888888 !default;
$color-93908f: #93908f !default;
$color-40c199: #40C199 !default;
$color-3eb7ba: #3eb7ba !default;

$color-b2afaf: #b2afaf !default;
$color-b2b186: #b2b186 !default;
$color-d3cf97: #d3cf97 !default;
$color-d8d8d8: #d8d8d8 !default;
$color-eaeaea: #eaeaea !default;
$color-efeabd: #efeabd !default;
$color-ffffff: #ffffff !default;
$color-f9f9f9: #f9f9f9 !default;

$color-1c1918: #1c1918 !default;
$color-626366: #626366 !default;
$color-dadada: #dadada !default;

$color-transparent: transparent !default;
$color-transparentrgba: rgba(0, 0, 0, 0) !default;

$color-highlight: #35a0a8 !default;
$color-selected: #35a0a8 !default;
$color-hover: #35a0a8 !default;

$color-dynamic-pricing-session-background: #AEE5E1;
$color-row-banding: #EAEAEA;
$color-validation: #EA6565;

$color-modal-close: #d8d8d8;
