.list-item {
  border-bottom: 1px solid #93908f;
  margin-top: 15px;
  width: 100%;
  height: 140px;
}

.list-item.last {
  border-bottom: none;
}

.list-item img {
  float: left;
  margin-right: 20px;
}

.list-item .item-details {
  height: 95%;
}

.list-item .item-details .item-details-inner {
  height: 90%;
}

.list-item .item-details .item-details-inner .title-wrapper {
  padding-bottom: 5px;
}

.list-item .item-details .subtext {
  margin-top: 2px;
  margin-bottom: 10px;
}

/* Main Action sometimes sits outside of item-details */
.list-item .main-action {
  float: right;
}

.list-item .alt-action {
  float: right;
  padding-right: 10px;
}
