/*------------------------------------*\
    MODAL DIALOGS
\*------------------------------------*/

.modal-dialog-container {
	$padding: 15px;

    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.75);
	padding: $padding;

    .modal-dialog-close-button {
        float: right;
        margin: 5px;
    }

    .modal-dialog-content {
        padding: 15px;
    }
}