@import "../../_Colours";
@import "../_FontsMobile.scss";


.content {
    text-align: center;
    margin-top: 40px;
}

.centred-content
{
    top:42%;
    left:20px;
    right:20px;
    text-align:center;
    position:absolute;
}

.sorry {
    font-size: 2.5rem;
    font-weight:100;
    color: $color-35a0a8;
    
}

.error-message {
    margin: 20px 10px 50px 10px;
}

.button.page-action {
    display:block;
    position:absolute;
    width:100%;
    bottom:0;
    padding:0;
}