<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="ticketingPaths" type="InternetTicketing.Infrastructure.Routing.Configuration.PagesConfigurationSection" />
    <section name="browsingPaths" type="InternetTicketing.Infrastructure.Routing.Configuration.PagesConfigurationSection" />
  </configSections>
  <!--
  TICKETING SITE URL CONFIGURATION
  This section allows the links from the ticketing site to the browsing site to be replaced with custom pages.
  Each page has a name to identify it; e.g. "CinemaDetails" is a page that lists information on a single Cinema.
  This page requires the Cinema ID as a parameter, if your URL is: Cinemas/Details/000000001 then the path is:
  Cinemas/Details and the "CinemaId" param is "/".
  If your URL is: Cinema?id=000000001 then the path is: Cinema and the "CinemaId" param is "id", i.e.:
      <page name="CinemaDetails" path="Cinema">
        <params>
          <add name="CinemaId" param="id" />
        </params>
      </page> 
  -->
  <ticketingPaths>
    <pages>
      <page name="SelectTickets" path="visSelectTickets.aspx">
        <params>
          <add name="CinemaId" param="cinemacode" />
          <add name="SessionId" param="txtSessionId" />
          <add name="LanguageCode" param="visLang" />
        </params>
      </page>
      <page name="OnlineShop" path="visShop.aspx">
        <params>
          <add name="LanguageCode" param="visLang" />
        </params>
      </page>
      <page name="PrintShowtimes" path="visPrintShowTimes.aspx">
        <params>
          <add name="CinemaId" param="visCinemaID" />
          <add name="ShowCinemaDropdownList" param="visMultiCinema" />
          <add name="LanguageCode" param="visLang" />
          <add name="ReturnUrl" param="ReturnUrl" />
        </params>
      </page>
    </pages>
  </ticketingPaths>
  <!--
  BROWSING SITE URL CONFIGURATION
  This section allows the links WITHIN the browsing site to be replaced with custom pages.
  This should only be used if a custom application or website is used alongside Browsing that replaces some of the pages of Browsing
  Each page has a name to identify it; e.g. "CinemaDetails" is a page that lists information on a single Cinema.
  This page requires the Cinema ID as a parameter, if your URL is: Cinemas/Details/000000001 then the path is:
  Cinemas/Details and the "CinemaId" param is "/".
  If your URL is: Cinema?id=000000001 then the path is: Cinema and the "CinemaId" param is "id", i.e.:
      <page name="CinemaDetails" path="Cinema">
        <params>
          <add name="CinemaId" param="id" />
        </params>
      </page> 
  -->
  <browsingPaths>
    <pages>
      <!--
      <page name="Home" path="" />
      <page name="Cinemas" path="Cinemas" />
      <page name="CinemaDetails" path="Cinemas/Details">
        <params>
          <add name="CinemaId" param="/" />
        </params>
      </page>
      <page name="NowShowing" path="Movies/NowShowing" />
      <page name="ComingSoon" path="Movies/ComingSoon" />
      <page name="Privacy" path="General/Privacy" />
      <page name="TermsAndConditions" path="General/TermsAndConditions" />
      <page name="Ratings" path="General/Ratings" />
      <page name="ContactUs" path="General/GeneralEnquiries" />
      <page name="EventsAndExperiences" path="EventsAndExperiences" />
      <page name="EventDetails" path="EventsAndExperiences/EventDetails">
        <params>
          <add name="EventId" param="/" />
        </params>
      </page>
      <page name="ExperienceDetails" path="EventsAndExperiences/ExperienceDetails">
        <params>
          <add name="ExperienceId" param="/" />
        </params>
      </page>
      <page name="LoyaltyHome" path="Loyalty/Home">
        <params>
          <add name="IsNewMember" param="isNewMember" />
        </params>
      </page>
      <page name="ActivateCard" path="Loyalty/ActivateCard" />
      <page name="LoyaltyClub" path="Loyalty/Clubs">
        <params>
          <add name="LoyaltyClubId" param="/" />
        </params>
      </page>
      <page name="LoyaltyClubs" path="Loyalty/Clubs" />
      -->
    </pages>
  </browsingPaths>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="VistaWebInstance" value="Infer" />
    <add key="DisplayFriendlyErrors" value="True" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.1, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Home" timeout="30" protection="All" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Routing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>