@import "../_Styles";
@import "../_Icons";

.sign-in-help {
    display:none;
    @extend %clearfix;
    .separator-bar {
        border-bottom: solid 1px #FFF;
        background-color: #B2B186;
        height:1px;
        margin:5px;
    }

    .help-content {
        float:left;
        margin-left:10px;
        padding-bottom:10px;
        .title {
            font-size:16px;
            color:#443E3B;
            display:block;
            margin-top:10px;
            margin-bottom:15px;
        }

        .link-list {
            padding:0px;
            margin:0px;
            li{
                margin-left:0px;
                padding-left:0px;
                text-align:left;

                a {
                    padding-bottom:1px;
                }
            }
        }

    }
    .close {
        @include icon("Close","../../");
        background-repeat:no-repeat;
        background-position:right;
        padding-right:12px;
        display:block;
        float:right;
        margin-right:5px;
        font-size:12px;
        color:#666;
        text-decoration:none;
        border:none;
        padding-bottom:1px;
    }
}