
.loyalty-terms-conditions {
	h3 {
		text-transform: uppercase;
	}

	ul { 
		list-style: disc; 
		line-height: 14px; 
		margin-left: 15px; 
	}
	
	ul li { 
		margin-top: 10px; 
	}

	ul ul { 
		list-style: none; 
	}
}
