@import "../_Colours";

form { text-align: center; }
.sorry { font-size: 72px; color: $color-highlight; font-weight: bold; font-family: Calibri; }
h2.error-message { text-transform: none; margin: 20px auto; width: 525px; line-height: 32px; }