@import "../_Colours";

.head-office {
	width: 100%;
	overflow: hidden;

	border-bottom: 1px solid $color-93908f;
	margin-bottom: 20px;
	padding-bottom: 10px;

	.head-office-inner {
		width: 50%;
		> * {
			width: 50%;
			float: left;
			height: 80px;
		} 
	} 
}
.cinema {
	width: 50%;
	float: left;
	height: 150px;

	a.cinema-link {
		border-bottom: none;
		.cinema-name {
			display: inline;
		}
	}	

	.contact-cinema {
		width: 100%; 
		overflow: hidden;
		margin-top: 5px;
	}
}