<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="RequiresSSL">
      <section name="RequiresSSL_Files" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0,Culture=neutral, PublicKeyToken=b77a5c561934e089,Custom=null" />
      <section name="RequiresSSL_Paths" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0,Culture=neutral, PublicKeyToken=b77a5c561934e089,Custom=null" />
    </sectionGroup>
    <section name="ticketingPaths" type="InternetTicketing.Infrastructure.Routing.Configuration.PagesConfigurationSection" />
    <section name="browsingPaths" type="InternetTicketing.Infrastructure.Routing.Configuration.PagesConfigurationSection" />
  </configSections>
  <!--
  BROWSING SITE URL CONFIGURATION
  This section allows the links from the ticketing site to the browsing site to be replaced with custom pages.
  Each page has a name to identify it; e.g. "CinemaDetails" is a page that lists information on a single Cinema.
  This page requires the Cinema ID as a parameter, if your URL is: Cinemas/Details/000000001 then the path is:
  Cinemas/Details and the "CinemaId" param is "/".
  If your URL is: Cinema?id=000000001 then the path is: Cinema and the "CinemaId" param is "id", i.e.:
      <page name="CinemaDetails" path="Cinema">
        <params>
          <add name="CinemaId" param="id" />
        </params>
      </page> 
  -->
  <browsingPaths>
    <pages>
      <page name="Home" path="" />
      <page name="Cinemas" path="Cinemas" />
      <page name="CinemaDetails" path="Cinemas/Details">
        <params>
          <add name="CinemaId" param="/" />
          <!--<add name="UserSessionId" param="UserSessionId" />-->
        </params>
      </page>
      <page name="NowShowing" path="Movies/NowShowing" />
      <page name="ComingSoon" path="Movies/ComingSoon" />
      <page name="Privacy" path="General/Privacy" />
      <page name="TermsAndConditions" path="General/TermsAndConditions" />
      <page name="Ratings" path="General/Ratings" />
      <page name="ContactUs" path="General/GeneralEnquiries" />
      <page name="EventsAndExperiences" path="EventsAndExperiences" />
      <page name="EventDetails" path="EventsAndExperiences/EventDetails">
        <params>
          <add name="EventId" param="/" />
        </params>
      </page>
      <page name="ExperienceDetails" path="EventsAndExperiences/ExperienceDetails">
        <params>
          <add name="ExperienceId" param="/" />
        </params>
      </page>
      <page name="LoyaltyHome" path="Loyalty/Home">
        <params>
          <add name="IsNewMember" param="isNewMember" />
        </params>
      </page>
      <page name="ActivateCard" path="Loyalty/ActivateCard" />
      <page name="LoyaltyClub" path="Loyalty/Clubs">
        <params>
          <add name="LoyaltyClubId" param="/" />
        </params>
      </page>
      <page name="LoyaltyClubs" path="Loyalty/Clubs" />
      <!--<page name="CancelOrder" path="CancelOrder" enabled="true">
        <params>
          <add name="UserSessionId" param="/" />
        </params>
      </page>-->
      <!--<page name="PurchaseSuccessCallback" path="/" enabled="true" />-->
    </pages>
    <!--<validBaseUrls>
      <validBaseUrl name="browsing-dev" url="http://localhost/browsing" />
    </validBaseUrls>-->
  </browsingPaths>
  <!-- SSL SWITCHER CONFIGURATION 
    Enter the name of the files in the "RequiresSSL_Files" section  and set the value to true to 
    enable SSL switching. Any files not listed in here will be switched out of SSL when accessed. 
    Paths can also be SSL switched by adding the path name in "RequiresSSL_Paths".
    Listed below are the pages where user information is passed through to the server. 
    By default only visPayment requires SSL. This key should never be changed.
  
    This configuration is dependent on the "EnableSSLSwitching" and "TestWithoutSSL" settings in the
    "SSL Settings" section further down in this document.
  -->
  <RequiresSSL>
    <RequiresSSL_Files>
      <add key="visLtyTicketsLogin.aspx" value="false" />
      <add key="visLtyHome.aspx" value="false" />
      <add key="visLtyCreateUserID.aspx" value="false" />
      <add key="visLtyCreateUser.aspx" value="false" />
      <add key="visPayment.aspx" value="true" />
      <add key="visWebPayment3DSecureWait.aspx" value="true" />
      <add key="visWebPayment3DSecurePay.aspx" value="true" />
      <add key="visWebPaymentConfirm.aspx" value="true" />
      <add key="visWebPaymentFinish.aspx" value="true" />
    </RequiresSSL_Files>
    <RequiresSSL_Paths />
  </RequiresSSL>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add type="visSSLSwitch.SSLSwitcher,visSSLSwitch" name="SSLSwitcher" />
      <add type="InternetTicketing.Domain.UserSessionIdHttpModule,InternetTicketing.Domain" name="UserSessionIdModule" />
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="PageHandlerFactory-Integrated-4.0" />
      <remove name="PageHandlerFactory-Integrated" />
      <add name="MobilePageHandlerFactory" resourceType="Unspecified" verb="*" path="*.aspx" type="InternetTicketing.Infrastructure.Mobile.WebForms.MobilePageHandlerFactory" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <remove verb="*" path="*.aspx" />
      <add verb="*" path="*.aspx" type="InternetTicketing.Infrastructure.Mobile.WebForms.MobilePageHandlerFactory" />
    </httpHandlers>
    <httpModules>
      <add type="visSSLSwitch.SSLSwitcher,visSSLSwitch" name="SSLSwitcher" />
      <add type="InternetTicketing.Domain.UserSessionIdHttpModule,InternetTicketing.Domain" name="UserSessionIdModule" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <!-- This tag allows the webApp to impersonate a user specified in IIS 
       If this is not set to true, then even if IIS is setup properly to impersonate, the site will still use the anonymous user
  -->
    <identity impersonate="false" />
    <!-- Set buffering to "true" for all pages to improve performance. -->
    <pages buffer="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="vb" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.1, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"
    -->
    <authentication mode="Forms">
      <forms loginUrl="/browsing/loyalty/signinrequired" timeout="30" protection="All" />
    </authentication>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
      By default ASP.NET uses cookies to identify which requests belong to a particular session. 
      If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
      To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="" cookieless="AutoDetect" timeout="20" />
    <!--<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />-->
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <!-- SITE SECURITY -->
  <!-- Determines whether you need to login as a member to buy tickets -->
  <!-- To enforce, use the following tag between the "<authorization></authorization>" tags below -->
  <!-- <deny users="?"/> -->
  <!-- To enforce, use the following tag between the "<authorization></authorization>" tags below -->
  <!-- <allow users="*"/> -->
  <location path="visSelectTickets.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="visErrorLog.aspx">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="VistaWebInstance" value="Infer" />
    <add key="DisplayFriendlyErrors" value="True" />
    <!-- Site Booking Settings. These are normally not required to be changed. ONLY CHANGE THEM IF YOU KNOW WHAT YOU ARE DOING! -->
    <!-- Used by Sales Server -->
    <add key="ClientID" value="111.111.111.111" />
    <!-- Used by Sales Server. Used by the web-client to filter movies/cinemas/sessions as sessions can be available to only some remote sales devices which sales devices depends on the ClientClass specified here -->
    <add key="ClientClass" value="WWW" />
    <!-- The site domain. eg www.vista.co.nz-->
    <add key="SiteDomain" value="" />
    <!-- Specify a connection string here to the VISTAIT database to override connection file lookup, and set specific connection string attributes. -->
    <!-- Use an Empty string to use the Vista Connect File method. -->
    <!-- Example string: "data source=dbserver;database=VISTAIT;user id=vistauser;password=vistapwd;" -->
    <add key="ConnectionStringVISTAIT" value="" />
    <!-- Site Regional Settings -->
    <!-- Which hour determines the start of the day. "0" for normal day hours -->
    <add key="BizStartTimeOfDay" value="0" />
    <!-- Enter an hour in 24 hour format so "6" for "6 am" or "18" for "6pm" -->
    <!-- Determines the display format for date. -->
    <!-- Type in the exact format for date and use the following placeholders where certain date elements are to be used -->
    <!-- [DAYNUMBER] - Numeric day of month -->
    <!-- [DAYNAME] - Name of the current day. Customisable in the language file in the visCommon section -->
    <!-- [MONTHNUMBER] - Numeric month -->
    <!-- [MONTHNAME] - Name of the month. Customisable in the language file in the visCommon section -->
    <!-- [YEAR] Year value -->
    <add key="DateDisplayFormat" value="[DAYNAME] [DAYNUMBER] [MONTHNAME]" />
    <!-- eg. "[DAYNUMBER]/[MONTHNUMBER]/[YEAR]" for 15 March 2006 will produce "15/03/2006" -->
    <add key="HistoricalDateDisplayFormat" value="[DAYNUMBER] [MONTHNAME] [YEAR]" />
    <add key="LoyaltyDateDisplayFormat" value="[DAYNUMBER] [MONTHNAME] [YEAR]" />
    <!-- Determines the display format for a person's name. -->
    <!-- Type in the exact format for a person's name and use the following placeholders where certain name elements are to be used -->
    <!-- [FIRSTNAME] - The person's first name -->
    <!-- [MIDDLEINITIAL] - The person's middle intial -->
    <!-- [LASTNAME] - The person's last name -->
    <add key="PersonsNameFormatForSpecifiedUnicodeRange" value="[FIRSTNAME] [LASTNAME]" />
    <!-- format used for names which have the first character of their last name fall within the unicode code range specified below -->
    <add key="PersonsNameFormatForRestOfUnicodeRange" value="[FIRSTNAME] [LASTNAME]" />
    <!-- format used for names which have the first character of their last name fall outside of unicode code range specified below -->
    <add key="PersonsNameFormatUnicodeRange" value="0000-0DFF" />
    <!-- unicode character range used to determine which of the above settings to use to format, you may specify multiple ranges if you separate the ranges with a ',' -->
    <!-- the values in the range must be in hexademical format, and should refer to valid unicode characters. For a list of unicode character mappings please refer to http://en.wikipedia.org/wiki/Mapping_of_Unicode_character_planes -->
    <!-- HIGHLY RECOMMENDED TO TURN THIS ON IN A LIVE ENVIRONMENT!! - Stops people opening multiple browsers on one machine and orphaning the transactions by using cookies -->
    <!-- Turning this on does not mean people blocking will not be able to use the site. That is determined by the non-vista setting in this file called "cookieless" -->
    <add key="UseCookies" value="Y" />
    <!-- Enter "Y" for a live environment using cookies, Enter "N" for testing -->
    <!-- CINEMA and MOVIE SELECTION SETTINGS -->
    <!-- Determines if the ticketing process is restricted to site members. -->
    <!-- To enfore you must also see setting "SITE SECURITY" above -->
    <add key="BuyTicketsMembersOnly" value="N" />
    <!-- "Y" turns on the members section of the site, "N" to open ticket purchases to all -->
    <!-- Dictates whether to split sites by cinema operator -->
    <add key="includeCinOperatorSite" value="N" />
    <!-- Options are "Y" to use cinema operator or "N" to ignore -->
    <!-- Determines whether movies that are a part of events will be shown with standard movies on visMovies and movie controls -->
    <add key="ShowEventMoviesInMovieLists" value="N" />
    <!-- "N" removes movies associated with an event from movie lists. "Y" shows ALL movies that are showing at the cinema -->
    <!-- LINK SETTINGS -->
    <!-- Defines which url to go to when navigating back to the session screen, this is only used on legacy pages (e.g. visWebPaymentConfirm.aspx) in the site like when an unexpected error occurs -->
    <add key="SessionsURL" value="visSelect.aspx" />
    <!-- Type a valid URL like "http://www.cinema.com/sessions.htm" or a valid page in this directory like "visSelect.aspx" -->
    <!-- Home page address, used on visConfirmation.aspx -->
    <add key="HomePageURL" value="visHome.aspx" />
    <!-- Type a valid URL like "http://www.cinema.com/sessions.htm" or a valid page in this directory like "visSelect.aspx" -->
    <!-- Membership help page, in case an external page is used -->
    <add key="MemberHelpURL" value="" />
    <!-- Type a valid URL like "http://www.cinema.com/sessions.htm" or a valid page in this directory like "../visLtyBenefits.aspx" -->
    <!-- New session page for shopping cart. Restricts shows to select to the current cinema  (incl operators)-->
    <add key="CartNewSessionURL" value="visSelectFromCinema.aspx" />
    <!-- PAYMENTS SETTINGS -->
    <!-- Determines the max amount of payment attempts a user can have before their order is cancelled an message displayed -->
    <add key="MaxPaymentAttemps" value="3" />
    <!-- Enter max amount of payment attempts -->
    <!-- Determines the maximum length of any string entered into the email field (only used on visWebPaymentConfirm.aspx) -->
    <add key="EmailFieldLength" value="60" />
    <!-- This value must be a number eg. "60" -->
    <!-- Determines the maximum length of any string entered into the phone field (only used on visWebPaymentConfirm.aspx) -->
    <add key="PhoneFieldLength" value="30" />
    <!-- This value must be a number eg. "30" -->
    <!-- Determines the maximum length of any string entered into the card name (or name if configured to be) field  (only used on visWebPaymentConfirm.aspx) -->
    <add key="CardNameFieldLength" value="30" />
    <!-- This value must be a number eg. "30" -->
    <!-- Determines the maximum length of any string entered into the zip code field (only used on visWebPaymentConfirm.aspx) -->
    <add key="ZipCodeFieldLength" value="5" />
    <!-- This value must be a number eg. "5" -->
    <!-- Determines the maximum length of any string entered into the loyalty card number field (only used on visWebPaymentConfirm.aspx) -->
    <add key="LoyaltyCardNumberFieldLength" value="16" />
    <!-- This value must be a number eg. "16" -->
    <!-- Determines which field from either loyalty or the web membership system to auto load into the phone field (only used on visWebPaymentConfirm.aspx) -->
    <!-- Options: -->
    <!-- "HOME;CELL;FAX;" -->
    <add key="PhoneFieldAutoPopulate" value="" />
    <!-- Leave blank to not auto load -->
    <!-- Show/Hide fields on the payment page -->
    <!-- Options: -->
    <!-- "Email;Phone;CardName;CardNum;CardExpiry;CardType;CardCVC;CardValidFrom;CardIssueNum;ZipCode;MobileList;SMSCheckBox;" -->
    <!-- "Address1;Address2;Suburb;ZipCode;City;State;BankAcctNo;BankSortCode;BankName;NoOfInstalments;PickupComments;"-->
    <!-- "CustName;" can be substitued for "CardName;" if you want the label to simply display "Name" instead of "Card Name" (text for each can be changed language file) -->
    <!-- Determines which fields to show if the "HonourForceUnpaidFlag" is turned OFF above -->
    <add key="ShowIfNotForceUnpaid" value="Email;CardName;CardNum;CardExpiry;CardType;" />
    <!-- Eg. "Email;CardName;CardNum;CardExpiry;CardType;CardCVC;NoOfInstalments" -->
    <!-- Determine Compulsory/Non-Compulsory fields of the fields being shown on payment page -->
    <!-- Options: -->
    <!-- "Email;Phone;CardName;CardNum;CardExpiry;CardType;CardCVC;ZipCode;MobileList;SMSCheckBox;NoOfInstalments" -->
    <!-- "CustName;" should be substitued for "CardName;" if you have done so for showing fields above, otherwise the card name specific error message will be shown when not entered -->
    <!-- Determines which SHOWN fields are compulsory if the "HonourForceUnpaidFlag" is turned OFF above -->
    <add key="RequiredIfNotForceUnpaid" value="Email;CardName;CardNum;CardExpiry;CardType;" />
    <!-- Eg. "Email;CardName;CardNum;CardExpiry;CardType;CardCVC;NoOfInstalments" -->
    <!-- Determines which fields from loyalty to auto load into the payment fields -->
    <add key="PaymentFieldsAutoPopulate" value="" />
    <!-- Eg. "Email;CardName;ZipCode;" -->
    <!-- Determines whether to prevent users with cookies disabled from completing an order -->
    <!-- IMPORTANT -->
    <!-- Payment gateways have special rules when it comes to using cookies -->
    <!-- Pay special attention to the "cookieless" setting in the sessionState section above -->
    <!-- 1. If the gateway forces cookies, then this setting must be set to "Y" to prevent cookieless users from reaching payment pages -->
    <!-- 2. If you wish to cater for cookieless sessions in a gateway system that allows cookies, then this setting should be set to "N" AND cookieless set to "UseUri" instead of "AutoDetect". This will show the session id in the URL for all users -->
    <!-- 3. If cookieless users are not of importance but you are still using a payment gateway, set to "Y" -->
    <!-- 4. If you are not using a payment gateway (using Vista Payment instead), set this to "N" -->
    <add key="RequireCookiesToOrder" value="N" />
    <!-- Set to "Y" to stop cookieless users from clicking seats or payment buttons on visSelectTickets. -->
    <!-- Shopping basket mode ignores the following "PaymentStart" settings. All attempts to start an order after payment has started will be denied. -->
    <!-- Determines whether an order in progress page is displayed to users trying to start a new order after payment has started. This is useful when external payment gateways are being used as it prevents user's cancelling an order while on an external page. -->
    <add key="WarnUsersAfterPaymentStart" value="N" />
    <!-- Set to "Y" to display page before visSelectTickets.aspx if payment has started, "N" to continue as usual -->
    <!-- Determines whether users are locked out of the ordering process if payment has started until the order is cancelled through error or completed at the cinema. This setting is enforced on the order in progress page. -->
    <add key="LockOrdersAfterPaymentStart" value="Y" />
    <!-- Set to "Y" to lock access to the tickets page until the user session is cleared from VISTAIT, "N" to allow users to continue -->
    <!-- PAYMENT METHOD SPECIFIC CONFIGURATION -->
    <!-- 
       These are templates for settings that override the standard configuration for payments. 
       Some are direct overrides for settings above and activated only when "SpecialPaymentTypesExist" is enabled.
       Others can be used for any payment method for the purposes of payment processing.
       
       For all of these settings, define a payment method in the "CardTypes" setting and create a new config setting using the required template below, replacing Payment1 with the payment method
    -->
    <!-- Placeholder to be used in a future version <add key="UseDBForPaymentConfiguration" value="N"/>-->
    <!-- This setting allows payments to be identified in a particular payment category -->
    <!-- Example of Custom Tender Category for a card type. -->
    <!-- Options: CREDIT, DEBIT, STOREDVALUE, CASH. CREDIT is used by default if this setting is not defined for the selected payment method -->
    <add key="TenderCategory_Payment1" value="CREDIT" />
    <!-- This setting overrides ShowIfNotForceUnpaid/ShowIfForceUnpaid. SpecialPaymentTypesExist MUST be set to Y. -->
    <!-- Options: -->
    <!-- "Email;Phone;CardName;CardNum;CardExpiry;CardType;CardCVC;CardValidFrom;CardIssueNum;ZipCode;MobileList;SMSCheckBox;" -->
    <!-- "Address1;Address2;Suburb;ZipCode;City;State;BankAcctNo;BankSortCode;BankName"-->
    <!-- CardType should be displayed first so that the choice is made before filling in other options -->
    <add key="PayShow_Payment1" value="CardType;Email;CustName;CardExpiry;CardNumber;" />
    <!-- Label Text on special payment type fields can also be customised. Check SystemLang.txt for examples -->
    <!-- This setting overrides RequiredIfNotForceUnpaid/requiredIfForceUnpaid. SpecialPaymentTypesExist MUST be set to Y. -->
    <add key="PayRequired_Payment1" value="CardType;CardExpiry;CardNumber;" />
    <!-- Validation Text on special payment type fields can also be customised. Check SystemLang.txt for examples -->
    <!-- Determines whether to use the phone field as a card number if no card number is present for this payment method (e.g. mobile phone payments)-->
    <add key="PhoneAsCardNumber_Payment1" value="N" />
    <!-- "Y" to use the Phone field to represent card number if one is not provided, "N" to leave empty -->
    <!-- Specifies the image file name used for the purchase button -->
    <add key="PaymentImage_Payment1" value="" />
    <!-- Enter a filename of a payment image stored in the images folder to display over the standard pay now button -->
    <!-- Determines if the terms and conditions checkbox will appear for this payment on visPayment. Any subsequent pages (visWebPaymentConfig) will follow the standard "RequireAcceptanceOfTerms" setting to determine display of the acceptance checkbox -->
    <add key="RequireAcceptanceOfTerms_Payment1" value="Y" />
    <!-- "Y" to make checkbox for agreement of terms appear -->
    <!-- SMS TICKETS -->
    <!-- Defines the dll used to connect to an SMS barcode provider. Put the connecting dll into the bin folder inside visInternetTicketing -->
    <!-- Make sure in the payment settings above that the SMSCheckBox and Phone fields are displayed to run SMS ticketing -->
    <add key="BarcodeProviderDLL" value="visMobiqa.dll" />
    <!-- Enter the name of the dll in here that connects to the SMS provider. Eg. "visTestSMSProvider.dll" -->
    <!-- If SMSCheckBox field is being displayed, determines whether the default value is checked (opt out) or unchecked (opt in) -->
    <add key="SMSTicketOptIn" value="Y" />
    <!-- Set to "Y" to make users opt in (checkbox unchecked by default) or "N" to opt out (checkbox checked by default) -->
    <!-- Determines whether the SMS message will be sent during Vista's payment processing (dependent on user choice) or left unhandled at the discretion of the cinema operator -->
    <add key="SendSMSDuringPayment" value="Y" />
    <!-- Set to "Y" to send SMS during Vista's post payment process, or "N" to handle SMS in some other manner -->
    <!-- Determines whether mobile make and model data needs to be set when checking the SMS option to ensure customers are aware if they can receive the message -->
    <add key="ForceMobileDeviceInfo" value="N" />
    <!-- Set "Y" to force mobile make and model to be entered when asking for SMS, or "N" to allow blanks -->
    <!-- SSL SETTINGS -->
    <!-- Allows the site to run without an SSL certificate, a pop up box will be thrown each time get to the page to inform the user -->
    <add key="TestWithoutSSL" value="Y" />
    <!-- Options are "Y" to run without SSL and "N" to run with SSL -->
    <!-- If running VistaWeb in frames the payment page wont load with an https url in the browser address bar  -->
    <!-- It is actually using https in the appropriate frame and therefore secure, but the "padlock" doesn't appear in the browser  -->
    <!-- Advanced users may notice this. Therefore turn this setting on to load the payment page with an https in the browser address bar  -->
    <!-- Disadvantage: All frames must be removed! If this causes and aesthetics problem see "PaymentPage" setting below -->
    <add key="RemoveFramesOnPaymentPage" value="N" />
    <!-- Options are "Y" to run without SSL and "N" to run with SSL -->
    <!-- IMPORTANT - ONLY turn this on in a DEMONSTRATION environment -->
    <!-- In conjunction with "TestWithoutSSL" setting above. If on, will give a warning that not using SSL, this turns the warning off for demo purposes only -->
    <add key="DemoNoSSLWarning" value="N" />
    <!-- Options are "N" to not show error, "Y" to show error -->
    <!-- Determines which location to redirect to when the user clicks the secure site seal link on payment page -->
    <add key="VerifyCertificateLink" value="http://www.verisign.com" />
    <!-- Type in a valid url where the secure site seal page details for your valid ssl certificate is located  -->
    <!-- Determines whether the built in SSL Switcher component is used to determine SSL state on pages within the site -->
    <add key="EnableSSLSwitching" value="Y" />
    <!-- Set to "Y" to allow the site to determine SSL pages, "N" to allow SSL state to be passed by links (exception - visPayment.aspx) -->
    <!-- LANGUAGE SETTINGS -->
    <!-- Allows the user to switch between default and alternative language by themselves -->
    <add key="DualLanguageMode" value="N" />
    <!-- Put "Y" to run in dual language mode, Put "N" if you only need to run in one language -->
    <!-- Determines whether to keep text strings cached in application memory -->
    <add key="CacheTextStrings" value="Y" />
    <!-- "Y" to cache text (refreshed on application start up), "N" to read from files on each requirement -->
    <!-- PRINT AT HOME -->
    <!-- Dictates whether adding "visPreview=Y" to the querystring of visPrintAtHome.aspx allows for previewing the template without transaction data merged into it -->
    <!-- the idea is to switch this on when building a template and turn it off when finished -->
    <add key="AllowTemplatePreview" value="N" />
    <!-- This represents the character that is used to separate values in the print stream from the print template -->
    <!-- The character used should be the same as the character in front of the field values -->
    <add key="PrintstreamSeparator" value="~" />
    <!-- Enter the separator character used in the template eg."~" -->
    <!-- This represents the character that is used to separate sections in the print stream from the print template -->
    <!-- The character used should be the same as the character at the beginning of the footer section and the details section for each individual session -->
    <add key="PrintstreamSectionSeparator" value="^" />
    <!-- Enter the section separator used in the template eg."^" -->
    <!-- EMAILING -->
    <!-- Email address and display, for non-cinema specific emails such as "Member Registration" -->
    <!-- If "EmailAlwaysUseWebConfig" is set to "Y" these will be used even for cinema specific emails such as booking confirmations -->
    <add key="EmailDisplayName" value="Vista Cinemas" />
    <!-- The name displayed in the customers inbox as to who sent the email  -->
    <add key="EmailFromAddress" value="" />
    <!-- e.g "replies@vista.co.nz". If a customer replies to an email sent by this site, this is the address it will go to" -->
    <add key="ConfirmationEmailCopyAddress" value="" />
    <!-- Sends an email to a cinema address as proof of order when ticket purchase has been completed.  -->
    <!-- If "Y" EmailDisplayName and EmailFromAddress will be used for ALL EMAILS and a copy will be sent to a cinema address defined in ConfirmationEmailCopyAddress -->
    <!-- If "N" for cinema specific emails such as booking confirmation, the email against the cinema in tblCinema will be used -->
    <add key="EmailAlwaysUseWebConfig" value="Y" />
    <!-- IMPORTANT! Use this only when encountering email issues to trace errors. Activates email header logging when an error is encountered. -->
    <add key="WriteEmailHeaderToLog" value="N" />
    <!-- "Y" to turn header log on for errors, "N" to hide header log on error. -->
    <!-- Security Settings -->
    <add key="PwdMinLength" value="6" />
    <!-- Minimum length the member password needs to be -->
    <add key="PwdMaxLength" value="0" />
    <!-- Maximum length for the member password. Set to 0 for no maximum -->
    <!-- PRINTABLE LISTINGS SETTINGS -->
    <add key="PrintDailyLogic" value="Y" />
    <!-- Determine whether all showtimes are listed on print page or if condensed into daily logic -->
    <!-- LOYALTY SETTINGS -->
    <!-- The amount of decimal places the points are formatted to -->
    <add key="LoyaltyPointsDecimals" value="0" />
    <!-- eg "0", "1", "2" -->
    <!-- Determines whether loyalty functions are restricted to members of the default club -->
    <add key="RestrictLoyaltyToDefaultClub" value="N" />
    <!-- "Y" to allow only the default club members to sign in, "N" to allow all members to sign in -->
    <!-- The method is used to allow customers to sign into loyalty during the process of purchasing tickets -->
    <!-- Options: (Select one) -->
    <!-- "PREEMPTIVE, ONPAYMENT, NONE" -->
    <!-- PREEMPTIVE adds an optional login page between session and tickets selection -->
    <!-- ONPAYMENT adds an option to enter membership details onto the payment page. This will not sign a member in -->
    <!-- NONE runs the purchasing process without prompting for loyalty. A member must already be signed in to earn points -->
    <add key="LoyaltyPurchaseProcessSignInMode" value="PREEMPTIVE" />
    <!-- Enter a value from the options above to select loyalty method to use during purchase -->
    <!-- Determines whether the email field is forced and locked on the payments page -->
    <add key="LockEmailForMemberBookingReference" value="N" />
    <!-- "Y" to lock the email field, "N" to allow email field to be open -->
    <!-- On ticket purchasing pages, this setting determines the amount of buffer to add onto the timer to add to a loyalty session -->
    <!-- This setting will not override loyalty timeout if the time remaining is greater than that of the purchase timer -->
    <add key="LoyaltyTimeoutBuffer" value="60" />
    <!-- Enter the time in seconds to buffer onto the purchase time to use as loyalty session lifetime -->
    <!-- LOGGING SETTINGS -->
    <!-- These settings are no longer read from this configuration file. -->
    <!-- Please refer to Vista/Config/VistaWebClient.ini to enable these logs -->
    <!-- This setting is used in a webfarm environment where logs need to be kept centralised for organised error tracking. -->
    <!-- Refer to "Installing & Customising Vista Internet Ticketing - Webfarm Error Tracing" for setup and access information -->
    <!-- <add key="CentraliseErrorLogs" value="Y" />-->
    <!-- "N" to write logs only to localised text file, "Y" to write to database and backup logs -->
    <!-- Determines whether client (eg Internet Ticketing) error logs are recorded by the web client. Used for trace error tracking and debugging -->
    <!-- <add key="EnableClientErrorLog" value="N" />-->
    <!-- "N" to disable client logging, "Y" to enable -->
    <!-- Determines whether client logs are written to the visWebClient log dependent on the previous setting. They will always be written to the database if enabled (CentraliseErrorLog setting) -->
    <!-- <add key="WriteClientLogToFile" value="N" />-->
    <!-- "Y" to write client logs to visWebClient.log, "N" to write to database only -->
    <!-- Enables logging on the web client to be enabled or disabled -->
    <add key="DebugLogging" value="N" />
    <!-- "T" to write transaction based trace logs to file, "D" to write log files to a database table, "N" to skip logging in production -->
    <!-- SEAT DISPLAY SETTINGS -->
    <!-- Whether special seats need to follow seat gap logic flags -->
    <add key="specialSeatsFollowLogic" value="N" />
    <!-- Options are "Y" to follow seat gap logic, "N" to ignore -->
  </appSettings>
</configuration>