#breadcrumb {
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  margin-bottom: 20px;
  text-align: justify;
  overflow: hidden;
  width: 994px;
}

#breadcrumb span {
  cursor: default;
  display: inline-block;
}

#breadcrumb .after {
  display: inline-block;
  height: 0;
  width: 100%;
}

#breadcrumb a {
  border: none;
}

#breadcrumb input {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

#breadcrumb .disabled {
  color: #93908f;
}

#breadcrumb [disabled] {
  cursor: default;
}
