body {
  background-color: #ffffff;
  padding: 0px 10px;
}

body > * {
  width: auto;
}

body, .PrintShowTimesSession, .PrintShowTimesDay, .PrintShowTimesFilm, .PrintDateRange, .PrintSelectionLabel, .PrintEventName, .PrintCinemaName {
  font-family: "Segoe UI" , sans-serif;
  font-size: 12px;
}

h1.logo {
  color: #443e3b;
}

.PrintEventName, .PrintCinemaName {
  font-weight: normal;
  color: #35a0a8;
}

.PrintEventName option, .PrintCinemaName option {
  color: #000000;
}

.PrintEventName option[selected="selected"], .PrintCinemaName option[selected="selected"] {
  color: #35a0a8;
}

.PrintShowTimesFilm, .PrintSelectionLabel {
  font: 16px calibri, sans-serif;
  color: #443e3b;
}

.PrintSelectionLabel {
  padding-right: 5px;
}

button.page-action, a.page-action {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
  overflow: visible;
}

.page-action.second {
  margin-left: 15px;
}
