/* 
8px = 0.5rem
9px = 0.5625rem
10px = 0.625rem
11px = 0.6875rem
12px = 0.75rem
13px = 0.8125rem
14px = 0.875rem
15px = 0.9375rem
16px = 1rem (base)  - is default font size for most browsers
18px = 1.125rem
20px = 1.25rem
22px = 1.375rem
24px = 1.5rem
26px = 1.625rem
28px = 1.75rem
30px = 1.875rem
32px = 2rem
34px = 2.125rem
36px = 2.25rem
38px = 2.375rem
40px = 2.5rem
*/
.cart {
  display: none;
}
.cart h2, .cart .cart-estimate, .cart .cart-sessions {
  display: none;
}
.cart .cart-footer .promotion, .cart .cart-footer .points-cost, .cart .cart-footer li:last-child {
  display: none;
}
.cart .cart-footer .total {
  float: right;
  font-size: 1rem;
}
.cart .cart-footer .total .price {
  color: #93908f;
  margin-right: 10px;
  margin-left: 5px;
}
.cart .cart-estimate {
  display: none !important;
}

.disabled {
  background-color: #93908f;
}

.session-time,
.cinema-screen-name {
  display: none;
}
